<%= link_to "home", root_path, id: "home" %>
<% if current_user %>
<%= link_to "disconnect", destroy_user_session_path, method: :delete, id: "logout" %>
<% end %>




<div class="container">
  <h1>Liste des requests : <%= @requests.size %></h1>
  <div class="tabs">
    <%= link_to "Toutes", requests_path, class: "tab" %>
    <%= link_to "les non confirmées", requests_path(status: "unconfirmed"), class: "tab" %>
    <%= link_to "les confirmées", requests_path(status: "confirmed"), class: "tab" %>
    <%= link_to "les acceptées", requests_path(status: "accepted"), class: "tab" %>
    <%= link_to "les expirées", requests_path(status: "expired"), class: "tab" %>
  </div>
  <table class="table">
      <tr>
        <th>Nom</th>
        <th>email</th>
        <th>Tel</th>
        <th>Bio</th>
        <th>Status</th>
        <% if params[:status].nil? || params[:status] == "confirmed" %>
          <th>Action</th>
        <% end %>
      </tr>
      <% @requests.each do |request| %>
      <tr>
        <td><%= request.name %></td>
        <td><%= request.email %></td>
        <td><%= request.phone_number %></td>
        <td><%= request.bio %></td>
        <td><%= request.status %></td>
        <% if request.status == "confirmed" %>
          <td><%= link_to "accept", request_path(request), method: :patch %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
</div>
