<%= link_to destroy_user_session_path, method: :delete do %>
<i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
<% end %>

<ul>
  <li><%= link_to "Toutes", requests_path %></li>
  <li><%= link_to "les non confirmées", requests_path(status: "unconfirmed") %></li>
  <li><%= link_to "les confirmées", requests_path(status: "confirmed") %></li>
  <li><%= link_to "les acceptées", requests_path(status: "accepted") %></li>
  <li><%= link_to "les expirées", requests_path(status: "expired") %></li>
</ul>






<div class="container">
  <h1>Liste des requests</h1>
  <table class="table">
      <tr>
        <th>name</th>
        <th>email</th>
        <th>tel</th>
        <th>bio</th>
        <th>status</th>
        <% if params[:status].nil? || params[:status] == "confirmed" %>
          <th>action</th>
        <% end %>
      </tr>
      <% @requests.each do |request| %>
      <tr>
        <td><%= request.name %></td>
        <td><%= request.email %></td>
        <td><%= request.phone_number %></td>
        <td><%= request.bio %></td>
        <td><%= request.status %></td>
        <% if request.status == "confirmed" %>
          <td><%= link_to "accept", request_path(request), method: :patch %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
</div>
