<div class="container">
  <h1>Incription sur liste d'attente</h1>
  <div class="col-md-offset-3 col-md-6 col-xs-12">
     <%= simple_form_for @request do |f| %>
        <%= f.input :name, placeholder: "Elon Musk", input_html: { class: "field" } %>
        <%= f.input :email, placeholder: "elon@spacex.com", input_html: { class: "field" }  %>
        <%= f.input :phone_number, placeholder: "0123456789", input_html: { class: "field" }  %>
        <%= f.input :bio, placeholder: "I love Ruby", as: :text, input_html: { class: "field" }  %>
        <%= f.submit "S'inscrire", class: "btn btn-success valid"  %>
      <% end %>
  </div>
</div>
